<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Anasayfa</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<!-- div class="row">
    <div class="col-sm-6">
        <div id="pie-chart" style="min-height: 250px;"></div>
    </div>
</div -->
<!-- /.row -->

    <div class="row" style="text-align:center;">
        <div class="col-xs-6 col-md-2">
            <a href="../materyalListesi" class="thumbnail"><i class="fa fa-files-o fa-fw" style="font-size: 100px;"></i></a>
            <div class="caption">
                <h4>Materyal Bankası</h4>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="../rehberlikRaporListesi" class="thumbnail"><i class="fa fa-arrows-alt fa-fw" style="font-size: 100px;"></i></a>
            <div class="caption">
                <h4>Rehberlik</h4>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="../soruListesi" class="thumbnail"><i class="fa fa-question-circle-o fa-fw" style="font-size: 100px;"></i></a>
            <div class="caption">
                <h4>Soru Bankası</h4>
            </div>
        </div>
    </div>

<% if (session.yetki < 2){ %>

    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-dashboard fa-fw"></i> Yönetim</h3>
    </div>
    <div class="row" style="text-align:center;">
        <div class="col-xs-6 col-md-2">
            <a href="../kullanicilar" class="thumbnail"><i class="fa fa-user fa-fw" style="font-size: 100px;"></i></a>
            <div class="caption">
                <h4>Kullanıcı İşlemleri</h4>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="../akademikKurul" class="thumbnail"><i class="fa fa-users fa-fw" style="font-size: 100px;"></i></a>
            <div class="caption">
                <h4>Akademik Kurul İşlemleri</h4>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="../zumreKurulu" class="thumbnail"><i class="fa fa-comments fa-fw" style="font-size: 100px;"></i></a>
            <div class="caption">
                <h4>Zümre Akademik Kurul İşlemleri</h4>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="../icraKurulu" class="thumbnail"><i class="fa fa-bar-chart-o fa-fw" style="font-size: 100px;"></i></a>
            <div class="caption">
                <h4>İcra Kurul İşlemleri</h4>
            </div>
        </div>
    </div>

<% } %>

    <div class="col-lg-12">
        <h4 class="page-header"><i class="fa fa-sitemap fa-fw"></i> Parametre İşlemleri</h4>
    </div>
    <div class="row" style="text-align:center;">
        <div class="col-xs-6 col-md-2">
            <a href="../dersListesi" class="thumbnail">
            <i class="fa fa-book fa-fw" style="font-size: 100px;"></i>
            </a>
            <div class="caption">
                <h4>Ders İşlemleri</h4>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="../uniteListesi" class="thumbnail">
            <i class="fa fa-book fa-fw" style="font-size: 80px; margin: 10px 0px 10px 0px;"></i>
            </a>
            <div class="caption">
                <h4>Ünite İşlemleri</h4>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="../konuListesi" class="thumbnail"><i class="fa fa-book fa-fw" style="font-size: 60px; margin: 20px 0px 20px 0px;"></i></a>
            <div class="caption">
                <h4>Konu İşlemleri</h4>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="../kazanimListesi" class="thumbnail"><i class="fa fa-book fa-fw" style="font-size: 40px; margin: 30px 0px 30px 0px;"></i></a>
            <div class="caption">
                <h4>Kazanım İşlemleri</h4>
            </div>
        </div>
    </div>
<br><br>