

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Kullanıcı Ekle</h1>
    </div>
    <!-- /.col-lg-12 -->


  <% if(mesaj=="ok" ) { %>
  <div class="alert alert-success">
    <strong>Kullanıcı eklendi.</strong>
  </div>
  <% } %>
  <% if(mesaj=="err" ) { %>
  <div class="alert alert-danger">
    <strong>Hata!</strong> Kullanıcı kayıt edilemedi!
  </div>
  <% } %>
  

<form action="../kullaniciEkle" method="POST">
    <div class=row>
        <div class="form-group col-sm-6">
        <label for="kullaniciAdi">Kullanıcı Adı:</label>
        <input type="text" class="form-control" id="kullaniciAdi" placeholder="Kullanıcı Adı" name="kullaniciAdi" required="true">
        </div>

        <div class="form-group col-sm-6">
        <label for="email">E-posta:</label>
        <input type="email" class="form-control" id="email" placeholder="E-posta" name="email" required="true">
        </div>
    </div>
    <div class=row>
        <div class="form-group col-sm-6">
        <label for="sifre">Şifre:</label>
        <input type="text" class="form-control" id="sifre" placeholder="Şifre" name="sifre" required="true">
        </div>

        <div class="form-group col-sm-6">
        <label for="yetki">Yetki:</label>
        <select class="form-control" id="yetki" name="yetki" required="true">
            <option value="1" >Yönetici</option>
            <option value="2" >Kullanıcı</option>
        </select>
        </div>
    </div>
    <div class=row>
        <div class="form-group col-sm-6">
        <button type="submit" class="btn btn-info col-sm-2">Kaydet</button>
        </div>
    </div>
  </form>

</div>
<!-- /.row -->