<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="../"><i class="fa fa-dashboard fa-fw"></i> Kontrol Paneli</a>
                        </li>

<% if (session.yetki < 2){ %>
                        <!-- Kullanıcı İşlemleri -->
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Kullanıcı İşlemleri<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../kullanicilar">Kullanıcı Listesi</a>
                                </li>
                                <li>
                                    <a href="../kullaniciEkle">Kullanıcı Ekle</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <!-- Akademik Kurul İşlemleri -->
                        <li>
                            <a href="#"><i class="fa fa-users fa-fw"></i> Akademik Kurul İşlemleri<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../akademikKurul">Akademik Rapor Listesi</a>
                                </li>
                                <li>
                                    <a href="../akademikRaporEkle">Akademik Rapor Ekle</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        
                        <!-- Parametre İşlemleri -->
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Parametre İşlemleri<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Ders <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="../dersListesi">Ders Listesi</a>
                                        </li>
                                        <li>
                                            <a href="../dersEkle">Ders Ekle</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Ünite <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="../uniteListesi">Ünite Listesi</a>
                                        </li>
                                        <li>
                                            <a href="../uniteEkle">Ünite Ekle</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Konu <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="../konuListesi">Konu Listesi</a>
                                        </li>
                                        <li>
                                            <a href="../konuEkle">Konu Ekle</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Kazanım <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="../kazanimListesi">Kazanım Listesi</a>
                                        </li>
                                        <li>
                                            <a href="../kazanimEkle">Kazanım Ekle</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
<% } %>
                        <!-- Materyal Bankası -->
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Materyal Bankası<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../materyalListesi">Materyal Listesi</a>
                                </li>
                                <li>
                                    <a href="../materyalEkle">Materyal Ekle</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <!-- Rehberlik -->
                        <li>
                            <a href="#"><i class="fa fa-arrows-alt fa-fw"></i> Rehberlik<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../rehberlikRaporListesi">Rehberlik Rapor Listesi</a>
                                </li>
                                <li>
                                    <a href="../rehberlikRaporuEkle">Rehberlik Raporu Ekle</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <!-- Soru Bankası -->
                        <li>
                            <a href="#"><i class="fa fa-question-circle-o fa-fw"></i> Soru Bankası<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../soruListesi">Soru Listesi</a>
                                </li>
                                <li>
                                    <a href="../SoruEkle">Soru Ekle</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->